* {
    margin: 0;
    padding: 0;
}

header {
    background-color: #2b579a;
    height: 100px;
}

body {
    font-weight: normal;
    font-family: 'Segoe UI Light';
}

section {
    margin: 20px;
}
h1 {
    color: #ffffff;
    font-size: 36px;
    font-weight: normal;
    font-family: 'Segoe UI Light';
    padding: 20px 30px;
}

h2 {
    color: #444;
    font-size: 20px;
    font-weight: normal;
}

li {
    margin-top: 20px;
    margin-left: 15px;
    color: #444;
    font-size: 20px;
}

footer p {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 14px;
    color: #ffffff;
    line-height: 2;
    text-transform: uppercase;
    background-color: #2b579a;
    text-align: center;
    margin-top: 50px;
}

.primeiro {
    color: red;
}
.grande {
    font-size: 36px;
}